body {
  line-height: 24px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background-color: #f6f6f6;
}
label {
  font-weight: normal;
}
legend {
  padding-bottom: 10px;
}
img {
  
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 550px) and (max-width: 767px) {
  .sp-contact-info li {
    margin: 0 5px;
    font-size: 90%;
  }
}

